<h1>snippetBank() entries</h1>

<div style="display:flex gap:30px">
    <% @entries.each do |entry| %>
        <div>
            <h4>
                <%= entry.title %>
            </h4>

            <p>
                <%= entry.description %>
            </p>
        </div>
    <% end %>

</div>
