<h1>snippetBank() entries</h1>

<div style="display:flex gap:30px">
    <% @entries.each do |entry| %>
        <div>
            <h2>
                <%= entry.title %>
            </h2>

            <p>
                <%= entry.description %>
            </p>

        <h3>Snippets</h3>
        <%= render entry.snippets %>            

        </div>
    <% end %>

</div>
