<h1 class='page-title'>snippetBank()</h1>

<div class="entries">
    <% @entries.each do |entry| %>
            <div class ="entry">
                <h3>
                    <%= entry.title %>
                </h3>

                <p class="entry-description">
                    <%= entry.description %>
                </p>

            <%= render entry.snippets %>   

            <%= button_to "View Entry", entry_path(entry), :class => 'ui-button-standard',  method: :get %>
         
            </div>
    <% end %>

</div>
