<div class ="entry-large">
    <h3>
        <%= @entry.title %>
    </h3>

    <p class="entry-description">
        <%= @entry.description %>
    </p>

    <%= render @entry.snippets %>    

    <div>
    <a href="<%= edit_entry_path(@entry) %>"><button class="ui-button-standard">Edit Entry</button></a>
    </div>
</div>