<div class="snippet-container">
    <div class='snippet-filename'><%= snippet.filename %></div>
    <textarea class='snippet-codeblock-mini'><%= snippet.codesnippet %></textarea>

    <%= render snippet.language %>
</div>