<div class="snippet-container">
    <div class='snippet-filename'><%= snippet.filename %></div>
    <pre class='snippet-codeblock-mini'><%= snippet.codesnippet %></pre>

    <div class='language-item'>
        <h4>
            <%= snippet.language.name %>
        </h4>
    </div>
</div>