<header>
    <div class="header-navbar-container">
        <%= link_to "Home", entries_path, class: "header-navbar-item" %>
        <%= link_to "Add Entry", new_entry_path, class: "header-navbar-item" %>
        <%= link_to "Languages", languages_path, class: "header-navbar-item" %>
    </div>
</header>  